.calendar {
  position: absolute;
  top: 110px;
  right: 0px;
  z-index: 1000;
}
.calendar-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -10px 10px 20px gray;
}

.calendar__dialog {
  margin-left: 1em;
  border-left: 1px solid #aaaaaa !important;
}

.calendar__dialog__list {
  padding: 0;
  list-style-type: none;
}

.calendar__dialog__list__item {
  padding: 1.2em 2.5em;
  cursor: pointer;
}

.calendar_close {
  display: none;
  transition: all 0.2s;
}
.calendar_open {
  display: inherit;
}
